@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}

.header {
  font-family: Raleway, sans-serif;
  text-underline-offset: 4px;
  font-weight: 400;
}

.header__links-list {
  list-style: circle;
  font-size: 18px;
  line-height: 22px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style: none;
}

.header__address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.cover {
  color:#fff;
  font-family: Raleway, sans-serif;
}

.cover-title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.aligned-text { 
  text-align: left;
  align-self: flex-start;
  letter-spacing: 0.3em;
  line-height: 115px;
}

.aligned-center {
  text-align: center;
  align-self: center;
  letter-spacing: 0.3em;
  line-height: 100%;
}

.aligned-right {
  text-align: right;
  align-self: flex-end;
  letter-spacing: 0.3em;
  line-height: 100%;
}

.leter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover-description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 127%;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.lots {
  font-family: Raleway, sans-serif;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.card-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.card-link {
  text-decoration: none;
  color: #fff;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  font-family: Raleway, sans-serif;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: left;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  word-spacing: 1px;
  letter-spacing: 0.02px;
}

.footer {
  font-family: Raleway, sans-serif;
  text-underline-offset: 4px;
  font-weight: 400;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list-item {
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.footer__social-list {
  list-style: none;
}