body {
    font-family: "Relawey", sans-serif;
    font-weight: normal;
}
 
.header {
    max-width: 1052px;
    display: grid;  
    grid-template-columns: 1fr 148px 1fr;
    justify-items: center;
    align-items: center;
    margin: 92px auto 96px;
    background-color: aqua;
    padding-left: 26px;
    padding-right: 25px;
}

.header__menu {
    align-content: space-between;
}

.header__links-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header__links-list-item {
    margin-right: 26px;
 }
 
 .header__logo {
    display: block;
    width: 148px;
    height: auto;
 }

 .header__logo-image {
    height: 100%;
    width: 100%;
    display: block;
 }
 
 .address {
    justify-self: end;
    max-width: 240px;
    width: 100%;
    

    padding-top: 5px;
    padding-bottom: 2px;
 }

.cover {
    position: relative;
    max-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    background-color: #000;
    opacity: 60%;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
}

.cover-title {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    /*row-gap: 20px;*/
    padding: 165px 50px 135px;
    max-width: 1100px;

}

.cover-description {
    z-index: 1;
    position: relative;
    padding: 0 50px 51px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px; 
}

.lots {
    width: 1052px;
    margin: 179px auto 0;
}

.lot__list-card {
    list-style-type: none;
    display: flex;
    column-gap: 25px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;

}

.card-link {
    display: block;
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 51px 40px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__heading {
    padding-right: 40px;
    padding-bottom: 27px;
}








.about {
    margin: 0 24px;
}

.footer {
    margin: 180px auto 88px;
}
