body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: normal;
}
 
.header {
    display: grid;
    max-width: 1052px;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    margin: 92px auto 96px;
    padding-left: 26px;
    padding-right: 25px;
    text-underline-offset: 4px;
    font-weight: 400;
}

.header__menu {
    align-content: flex-start;
}

.header__links-list {
    display: flex;
    flex-flow: row wrap;
    list-style: circle;
    font-size: 18px;
    line-height: 22px;
}

.header__links-list-item_no-bullit {
    text-decoration: none;
    list-style: none;
}

.header__links-list-item {
    margin-right: 34.5px;
    padding-top: 5px;
}

.header__logo {
    display: block;
    width: 148px;
    height: auto;
}

.header__logo-image {
    height: 105px;
    width: 100%;
    display: block;
}
 
.address {
    max-width: 240px;
    width: 100%;
    justify-self: end;
}

.header__address {
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
}
  
.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    color:#fff;
}

.overlay {
    position: absolute;
    background-color: #000;
    opacity: 60%;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
}

.cover-title {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 165px 50px 0;
    max-width: 1100px;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    text-align: left;
    align-self: flex-start;
    letter-spacing: 0.3em;
    line-height: 115px;
}

.aligned-center {
    text-align: center;
    align-self: center;
    letter-spacing: 0.3em;
    line-height: 100%;
}

.aligned-right {
    text-align: right;
    align-self: flex-end;
    letter-spacing: 0.3em;
    line-height: 100%;
}

.leter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}
  

.cover-description {
    z-index: 1;
    position: relative;
    padding: 135px 50px 51px 78px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cover-description-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 127%;
    text-transform: uppercase;
    word-spacing: 18.5px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.lots {
    max-width: 1052px;
    margin: 179px auto 0;
}

.lot__list-card {
    list-style-type: none;
    display: flex;
    column-gap: 25px;
}

.lots__card-list-item {
    max-width: 334px;
    min-height: 563px;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 51px 40px 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__heading {
    min-height: 74px;
    padding-left: 40px;
    padding-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.card-title {
    z-index: 1;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.card-text {
    z-index: 1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.lots__look-more-link {
    display: block;
    min-height: 55px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.about {
    margin: 116px 24px 0;
}

.about__column {
    max-width: 1052px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.about__logo {
    margin-top: 35px;
    margin-left: 47px;
    margin-right: 47px;
    max-height: 240px;
    border-radius: 50%;
    background-color: #000;
    position: relative;
    z-index: -1;
}

.about__logo-image {
    height: 114px;
    width: 100%;
    display: block;
    position: absolute;
    inset-block-start: 64px;
    z-index: 1;
}

.about__title {
    margin-top: 136px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    word-spacing: 1px;
    letter-spacing: 0.02px;
}

.footer {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 180px auto 83px;
    text-underline-offset: 4px;
    font-weight: 400;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-list-item {
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
    max-width: 240px;
    list-style: none;
}

.footer__social-link {
    display: block;
    max-height: 48px;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}